<nav>
  <div>
    <a routerLink="/">
      <img src="assets/GunMarket_Logo2.png" alt="Logo" />
    </a>
    <mat-nav-list>
      <a *ngFor="let link of links"
         mat-list-item
         [routerLink]="link.href"
         routerLinkActive="active"
         (mouseover)="toggleUnderline(link, true)"
         (mouseout)="toggleUnderline(link, false)">
        <span>{{ link.name }}</span>
        <div [ngStyle]="link.underlineStyle" class="underline"></div>
        <img [ngStyle]="link.iconStyle" src="assets/Bullet2.png" class="nav-underline-img" alt="">
      </a>
    </mat-nav-list>
  </div>
</nav>
