@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  gap: 20px;
  padding: 20px;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 1px solid rgb(245, 230, 230);
  filter: drop-shadow(0 30px 10px rgb(255, 255, 255));
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 5px solid rgba(255,255,255, 0.255);
}

.card-body {
  padding: 15px;
}

.card-title {
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 18px;
}

.card-text {
  font-size: 14px;
  color: #666;
}



.link_wrapper{
  position: relative;
}

.button-a{
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon{
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
  margin-top: 10px;
}

.icon svg{
  width: 20px;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 10px);
  transform: rotate(-45deg);
  fill: #ef872e;
  transition: all .35s;
}

.button-a:hover{
  width: 200px;
  border: 3px solid #ef872e;
  background: transparent;
  color: #000000;
}

.button-a:hover + .icon{
  border: 3px solid #f3a632;
  right: -2%;
}






.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;

}

.outline:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease;
}

.fill:hover{
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;
}


















.search {
  width: 100%;

  display: flex;
  margin-top: 20px;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100%; /* fill the height of the parent */

}

.searchTerm {
  width: 70%;
  border: 3px solid #252526;
  border-right: none;
  padding: 5px;
  border-radius: 20px 0 0 20px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #252526;
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid #252526;
  background: #252526;
  text-align: center;
  color: #fff;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 20px;
}
.carrosel-class{
  width: 100%;
  margin-top: 20px;
  height: 270px;

}
.carousel-item .slide-image {

  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item {

  width: 100%;
  height: 270px;
  border: none;
  top: 0;
  left: 100%;
}
.carousel-item.active {
  left: 0;
  transition: all 0.3s ease-out;
}
.carousel-item div {
  height: 100%;
}




